{#
/**
 * @file
 * Default theme for theme switcher block.
 *
 * Available variables:
 * - select_theme_form: The form to select a theme.
 */
#}
{%
  set classes = [
  'tsbu-theme-switcher-block',
]
%}
{% if theme_switcher_form %}
  <div {{ attributes.addClass(classes) }}>
    {{ theme_switcher_form.form_build_id }}
    {{ theme_switcher_form.form_id }}
    {{ theme_switcher_form.form_token }}
    {{ theme_switcher_form }}
  </div>
{% endif %}
